# gradle

.gradle/
build/
out/
classes/
.gradle-local/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/

# terraform
.terraform/
.terraform.lock.hcl
*.tfvars
!*.tfvars.example

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# python
__pycache__/
*.pyc

# lambda dependencies
infrastructure/lambdas/*/layer/python/

# secrets
fabric/secrets.gradle
