database = {
  allowed_cidr = "203.0.113.10/32"
  password     = "replace-with-a-local-password"
  username     = "postgresadmin"
}

data_ingestion = {
  api_route_method  = "POST"
  api_route_path    = "/market-items"
  api_stage_name    = "prod"
  function_name     = "wynnmarket-data-ingestion"
  lambda_layer_arns = []
}
